# ── MongoDB ──
MONGODB_URI=

# ── Stripe ──
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# ── PawaPay ──
PAWAPAY_BASE_URL=https://api.sandbox.pawapay.io/v2
PAWAPAY_API_TOKEN=

# ── Server ──
PORT=3000
